{% load static %}
<nav aria-label="breadcrumb" class="mb-3 lp-breadcrumb">
  {% with pid=project.id %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'detail_project:list_pekerjaan' pid %}">List Pekerjaan</a></li>
    <li class="breadcrumb-item"><a href="{% url 'detail_project:volume_pekerjaan' pid %}">Volume Pekerjaan</a></li>
    <li class="breadcrumb-item"><a href="{% url 'detail_project:detail_ahsp' pid %}">Detail AHSP</a></li>
    <li class="breadcrumb-item"><a href="{% url 'detail_project:harga_items' pid %}">Harga Items</a></li>
    <li class="breadcrumb-item"><a href="{% url 'detail_project:detail_ahsp_gabungan' pid %}">Detail AHSP (Gabungan)</a></li>
    <li class="breadcrumb-item"><a href="{% url 'detail_project:rekap_rab' pid %}">Rekap RAB</a></li>
  </ol>
  {% endwith %}
</nav>
