{# Gantt View Tab Content #}
<div class="tab-pane fade" id="gantt-view" role="tabpanel">
  <div class="gantt-container">
    <div class="gantt-chart-panel">
      <div class="gantt-toolbar mb-3">
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-outline-secondary" data-gantt-view="Day">Day</button>
          <button type="button" class="btn btn-outline-secondary active" data-gantt-view="Week">Week</button>
          <button type="button" class="btn btn-outline-secondary" data-gantt-view="Month">Month</button>
        </div>
      </div>
      <div class="gantt-chart-wrapper">
        <div id="gantt-chart" class="gantt-chart-canvas"></div>
      </div>
    </div>
  </div>
</div>
