<div class="skeleton-container" id="skeleton-grid">
  <div class="skeleton-grid-container">
    <div class="skeleton-grid-row">
      <div class="skeleton-grid-cell wide skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
    </div>
    {% for i in "0123456789" %}
    <div class="skeleton-grid-row">
      <div class="skeleton-grid-cell wide skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
    </div>
    {% endfor %}
  </div>
</div>
