<div class="skeleton-container" id="skeleton-kurva">
  <div class="skeleton-grid-container">
    <div class="skeleton-header skeleton" style="width: 240px;"></div>
    <div class="skeleton-grid-row">
      <div class="skeleton-grid-cell wide skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
    </div>
    {% for i in "01234567" %}
    <div class="skeleton-grid-row">
      <div class="skeleton-grid-cell wide skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
    </div>
    {% endfor %}
  </div>
</div>
