<div class="skeleton-container" id="skeleton-gantt">
  <div class="skeleton-grid-container">
    <div class="skeleton-grid-row">
      <div class="skeleton-grid-cell wide skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
    </div>
    {% for i in "012345" %}
    <div class="skeleton-grid-row">
      <div class="skeleton-grid-cell wide skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
      <div class="skeleton-grid-cell skeleton"></div>
    </div>
    {% endfor %}
  </div>
</div>
